<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

    <title>
        Entre páginas: um blog literário
    </title>
</head>
<body>


    <header>
        <h1>Entre Páginas: Um blog literário</h1>
    </header>
    
    <nav>

        <a href="/">Home</a>
        <a href="/noticiasdestaques">Noticias destaques</a>
        <a href="/resenhaspopulares">Resenhas Populares</a>
        <a href="/lancamentos">Lançamentos</a>
        <a href="/sobre">Sobre</a>
    </nav>
    


    <main>

    
    </main>


    <footer>
        &#169; 2025 Blog Entre Paginas. Todos os direitos reservados.
    </footer>
</body>
</html>