<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

    <title>
        Entre páginas: um blog literário
    </title>
</head>
<body>
    <style>

        main {
            padding: 70px;

        }

        p{
            font-size: 20px;
        }


    </style>

    <header>
        <h1>Entre Páginas: Um blog literário</h1>
    </header>
    
    <nav>

        <a href="/">Home</a>
        <a href="/noticiasdestaques">Noticias destaques</a>
        <a href="/resenhaspopulares">Resenhas Populares</a>
        <a href="/lancamentos">Lançamentos</a>
        <a href="/sobre">Sobre</a>
    </nav>
    


    <main>

      <h1>SOBRE</h1>

    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis vel felis id dignissim. Nulla convallis auctor blandit. Etiam sed erat consequat, iaculis arcu luctus, pharetra diam. Cras laoreet et tortor viverra pellentesque. Morbi aliquam justo non augue porttitor, vitae luctus orci porta. Nulla facilisi. Vivamus suscipit dignissim nisi, et luctus sapien aliquam sed. Fusce porta euismod pharetra. Nullam efficitur mollis rutrum. Donec eu mollis dui, sit amet luctus turpis.

        Duis ultrices auctor congue. Morbi blandit ipsum a risus mattis, a viverra nisl gravida. Vivamus lacinia lorem eget purus cursus, at pretium arcu pellentesque. Proin at velit enim. Aliquam tristique sit amet nisi ut scelerisque. Nullam sit amet feugiat leo. Vivamus pellentesque viverra porta. Nulla odio augue, efficitur nec viverra ut, ullamcorper ut ante. Mauris dapibus massa at lorem tempor feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut ac nisi a ligula porttitor faucibus et vitae tellus. Ut sodales aliquam pretium. Vestibulum venenatis finibus eros et varius.
            
        Aliquam quis est ligula. Vivamus dolor leo, semper sit amet sodales sed, imperdiet quis mi. Nullam vehicula, felis id volutpat dictum, massa mi aliquam urna, in ornare urna diam nec turpis. Suspendisse sodales commodo nibh, eu venenatis nisl. In mollis ante a posuere cursus. Aenean lorem neque, condimentum non congue ac, imperdiet sed neque. Mauris ut feugiat arcu. Nulla venenatis velit dolor, eget elementum augue posuere at. Morbi vitae dui vel lectus pulvinar vulputate vel vitae orci. Vestibulum ullamcorper dui ac dignissim imperdiet. Donec id tincidunt nisi, at efficitur velit. Vivamus fermentum eleifend neque at tincidunt. Vivamus fermentum massa libero, congue placerat nisl elementum a. Aenean ipsum mi, posuere in dolor sit amet, tempus placerat risus. Nunc ornare augue ante, eget scelerisque nisi facilisis vitae. Duis mattis mi vel facilisis malesuada.
            
        Donec ut auctor justo. Fusce interdum semper diam non tempus. Aliquam maximus vestibulum mi vel congue. Donec placerat, elit nec feugiat aliquet, augue dolor pellentesque lorem, non interdum tortor nunc pulvinar felis. Maecenas tincidunt eu elit vitae ultricies. Suspendisse commodo elit urna, et suscipit ligula gravida quis. Suspendisse potenti. Cras ornare augue nunc, nec efficitur metus tincidunt at. Phasellus imperdiet sapien dapibus aliquam sollicitudin. Cras condimentum, nulla sit amet varius volutpat, nulla nisi egestas mauris, tempor eleifend sapien turpis ut justo. Sed nec dignissim tortor.
            
        Etiam eget lectus ac arcu facilisis pellentesque. Sed consequat lectus eu mi viverra tincidunt. Sed vitae congue turpis. Praesent massa arcu, auctor a ligula non, malesuada facilisis lorem. Vivamus tincidunt enim faucibus elit facilisis, ut tempor sapien aliquam. Fusce vestibulum consequat tortor, a sagittis turpis laoreet non. Nam et elit sed dolor ullamcorper viverra at ac lorem. Vivamus varius velit ut convallis scelerisque. Sed pellentesque quam id sapien auctor hendrerit.</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sagittis vel felis id dignissim. Nulla convallis auctor blandit. Etiam sed erat consequat, iaculis arcu luctus, pharetra diam. Cras laoreet et tortor viverra pellentesque. Morbi aliquam justo non augue porttitor, vitae luctus orci porta. Nulla facilisi. Vivamus suscipit dignissim nisi, et luctus sapien aliquam sed. Fusce porta euismod pharetra. Nullam efficitur mollis rutrum. Donec eu mollis dui, sit amet luctus turpis.

        Duis ultrices auctor congue. Morbi blandit ipsum a risus mattis, a viverra nisl gravida. Vivamus lacinia lorem eget purus cursus, at pretium arcu pellentesque. Proin at velit enim. Aliquam tristique sit amet nisi ut scelerisque. Nullam sit amet feugiat leo. Vivamus pellentesque viverra porta. Nulla odio augue, efficitur nec viverra ut, ullamcorper ut ante. Mauris dapibus massa at lorem tempor feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut ac nisi a ligula porttitor faucibus et vitae tellus. Ut sodales aliquam pretium. Vestibulum venenatis finibus eros et varius.
                
        Aliquam quis est ligula. Vivamus dolor leo, semper sit amet sodales sed, imperdiet quis mi. Nullam vehicula, felis id volutpat dictum, massa mi aliquam urna, in ornare urna diam nec turpis. Suspendisse sodales commodo nibh, eu venenatis nisl. In mollis ante a posuere cursus. Aenean lorem neque, condimentum non congue ac, imperdiet sed neque. Mauris ut feugiat arcu. Nulla venenatis velit dolor, eget elementum augue posuere at. Morbi vitae dui vel lectus pulvinar vulputate vel vitae orci. Vestibulum ullamcorper dui ac dignissim imperdiet. Donec id tincidunt nisi, at efficitur velit. Vivamus fermentum eleifend neque at tincidunt. Vivamus fermentum massa libero, congue placerat nisl elementum a. Aenean ipsum mi, posuere in dolor sit amet, tempus placerat risus. Nunc ornare augue ante, eget scelerisque nisi facilisis vitae. Duis mattis mi vel facilisis malesuada.
                
        Donec ut auctor justo. Fusce interdum semper diam non tempus. Aliquam maximus vestibulum mi vel congue. Donec placerat, elit nec feugiat aliquet, augue dolor pellentesque lorem, non interdum tortor nunc pulvinar felis. Maecenas tincidunt eu elit vitae ultricies. Suspendisse commodo elit urna, et suscipit ligula gravida quis. Suspendisse potenti. Cras ornare augue nunc, nec efficitur metus tincidunt at. Phasellus imperdiet sapien dapibus aliquam sollicitudin. Cras condimentum, nulla sit amet varius volutpat, nulla nisi egestas mauris, tempor eleifend sapien turpis ut justo. Sed nec dignissim tortor.
                
        Etiam eget lectus ac arcu facilisis pellentesque. Sed consequat lectus eu mi viverra tincidunt. Sed vitae congue turpis. Praesent massa arcu, auctor a ligula non, malesuada facilisis lorem. Vivamus tincidunt enim faucibus elit facilisis, ut tempor sapien aliquam. Fusce vestibulum consequat tortor, a sagittis turpis laoreet non. Nam et elit sed dolor ullamcorper viverra at ac lorem. Vivamus varius velit ut convallis scelerisque. Sed pellentesque quam id sapien auctor hendrerit.</p>
       
    </main>


    <footer>
        &#169; 2025 Blog Entre Paginas. Todos os direitos reservados.
    </footer>
</body>
</html>